*,
*::before,
*::after{
	box-sizing: border-box;
}
body{
	background-color: #111;
	color: #56A6FF;
	margin: 0 50px;
}

hr{
	width: 30%;
	height: 1px;
	border: none;
	background-color: #56A6FF;

}

#title{
	text-align: center;
	
}
button{
	background-color: #ee6352;
	color: #fff;
	padding: 0.5rem;
	font-size: 14px;
	border:none;
}
button:hover {
	cursor: pointer;
}
