*,
*::before,
*::after{
	box-sizing: border-box;
}
body{
	background-color: #111;
	color: #56A6FF;
	margin: 0 50px;
}

hr{
	width: 30%;
	height: 1px;
	border: none;
	background-color: #56A6FF;

}

#title{
	text-align: center;
  font-size: 40px;
}

button{
	background-color: #05617e;
	color: #fff;
	padding: 1rem;
	width: 240px;
	margin-left: 50px;
	font-size: 14px;
	transition: 0.3s;
	border:none;
}

button:hover {
	cursor: pointer;
	background-color: #00bb92;
	transform: translateY(-4px);
	transition: 0.3s;
}

pre {
	box-shadow: rgba(3, 93, 93, 0.979) 0px 2px 15px, rgba(180, 175, 175, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	background-color: rgba(255, 255, 255, 0.089);
	padding: 20px 30px;
	font-family: 'Courier New', Courier, monospace;
	border-radius: 8px;
  max-width: 800px;
  overflow-y: auto;
	border: 1px solid rgba(245, 245, 245, 0.349);
}
