@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,600;0,700;0,800;0,900;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  white-space: pre-wrap;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}

pre {
  padding: 2rem;
  background-color: #212121;
  color: aliceblue;
  border-radius: 8px;
  margin: 20px;
  font-size: 16px;
}

form {
  width: 40%;
  margin: 20px auto;
  background-color: #f3f3f3;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

input {
  margin: 10px;
  padding: 0.5rem;
  font-size: 16px;
  border-radius: 6px;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

input[type="text"]:focus {
  outline: 1px solid rgb(24, 189, 65);
  padding: 0.7rem;
}

input[type="text"] {
  flex-grow: 2;
  transition: 0.13s;
}

input[type="submit"] {
  flex-grow: 1;
  font-weight: 400;
  cursor: pointer;
  transition: 0.3s;
}

input[type="submit"]:hover {
  background-color: green;
  color: #fff;
}

ul {
  width: 40%;
  margin: 12px auto;
  list-style: none;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  height: 500px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: start;
  overflow-y: auto;
}

li {
  padding: 1rem;
  flex: 0 0 100%;
  box-shadow: rgba(18, 108, 157, 0.12) 0px 2px 4px 0px, rgba(8, 93, 116, 0.32) 0px 2px 16px 0px;
  border-radius: 12px;
  margin-bottom: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.1s;
}

li:hover {
  transform: translateY(-3px);
  background-color: #d2e9d7;
}